/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.heading-block {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
}

.white-text {
    color: #fff !important;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.text-center {
    text-align: center;
}
